.wd-tabs li {
    display: inline;
}

.wd-tabs {
    padding-left: 0px;
}

.wd-selected {
    border-bottom: 2px blue solid;
    padding-bottom: 20px;
}

.wd-nudge-up {
    bottom: 18px;
    left: 25px;
}

.wd-color-red{
    color: red;
}

.wd-color-white{
    color: white;
}

.wd-border-thin{
    border-style: solid;
    border-color: black;
}

.wd-bottom-2 {
    bottom: 2px;
}

.wd-bottom-4 {
    bottom: 4px;
}

.wd-float-left{
    float: left;
}

.wd-icon-distribution{
    width: 20%;
}

.wd-blue-text{
    color: dodgerblue;
}

.wd-blue-icon-bg{
    background-color: deepskyblue;
    color: white;
    border-radius: 40px;
}

.wd-round-list{
    border-radius: 10px;
}

.wd-round-list-order{
    border-radius: 20px;
}

.wd-nudge-down-picture {
    top: 200px;
    left: 25px;
}

.wd-white-button{
    background-color: white;
}

.wd-black-button{
    background-color: black;
    color: white;
    length: 20px;

}

.wd-large-text{
    top: 60px;
    font-size: 30px;
}

.wd-edit-profile-text{
    font-size: 20px;
}

