body{
    background-color: black;
}

.wd-border-page {
    border-color: rgb(47,51,54);
    border-style: solid;
    border-width: 1px;
}
.wd-bookmark-title{
    color: white;
    font-size: 20px;
}

.wd-page-pos-nudge-right {
    position: relative;
    left: 16px;
}

.wd-avatar-nudge-right{
    left: 28px;
    position: relative;
}

.wd-top-edge-nudge-down{
    top: 12px;
    position: relative;
}

.wd-handle{
    color: lightgray;
    font-size: 13px;}

.wd-avatar-img{
    border-radius: 48px;
    height: 50px;
    width: 50px;
}

.wd-author-text{
    color: white;
    font-size: 15px;
}
.wd-handle-section-c{
    color: lightgray;
    font-size: 15px;}

.wd-float-left{
    float: left;
    position: relative;
}

.wd-float-right{
    float: right;
}

.wd-float-done {
    clear: both;
}

.wd-content-nudge-left{
    right: 16px;
    position: relative;
}

.wd-content-max-width{
    max-width: 506px;
}

.wd-content-img{
    height: 264px;
    width: 504px;
    border-radius: 24px;
    top: 24px;
}

.wd-content-img-nudge-right{
    left: 76px;
    position: relative;
}

.wd-padding-all-around{
    padding: 12px;
}

.wd-content-border{
    border-color: rgb(47,51,54);
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

}

.wd-white-title-text-pos{
    left: 64px;
    top: 12px;
    position: relative;
}

.wd-gray-content-text-pos{
    left: 64px;
    position: relative;
}

.wd-grid-row{
    clear: both;
}

.wd-icon-distribution{
    float: left;
    width: 10%;
}

.wd-fg-light-gray{
    color: lightgray;
}

.wd-fg-red{
    color: red;
}

.wd-icon-nudge-right{
    left: 12px;
    position: relative;
}